#container {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
  
  padding: 10px 150px 10px 150px;
    
  border-radius: 15px;
  background-color: AntiqueWhite;
  
  text-align: left;
}

.personal info {
}
h1 {
  font-size: 42px;
  font-family: 'Cursive', Lucida Handwriting; 
  margin-bottom: -20px;
}

h2 {
  font-size: 20px; 
  margin-bottom: -20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 0px;
  
.main { 
}
h3 {
  font-size: 20px;
  font-family: 'Lucida Handwriting', Cursive;
  margin-top: 10px;
  margin-bottom: 10px;
}
  
h4 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-family: 'Arial', Helvetica;
}
