h1 {
   font-family: 'Times New Roman', Serif;
   color: DarkOliveGreen; 
}
h3 {
   font-family: 'Centaur', Serif;
   color: Chocolate;
}
h4 {
   font-family: 'Centaur', Serif;
   color: Chocolate;
}
h5 {
   font-family: 'Times New Roman', Serif;
   color: DarkOliveGreen;
}
p {
  color: red;
}
